body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* :D */

#buddy {
  width: 50px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* buddy chat placeholder */

#list {
  list-style-type: none;
}

.ai-log {
  color: orange;
}

/* mood smileys */

.mood {
  width: 30px;
}

/* main title */

.splash {
  text-align: center;
}
