body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* main title */

.splash {
  text-align: center;
}

/* question emoji */

.emoji {
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
}
